.product{
  max-width: 206px;
  padding: 20px 10px;
  border: 1px solid #e9e9e9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  position: relative;
  background-color: #fff;
  gap: 10px;

  &:hover{
    z-index: 2;
    width: calc(100% + 5px);
    box-shadow: 0 2px 16px #0000003d;
  }
}
.buttonHeard{
  background-color: #fff !important;
  position: absolute;
  top: -3px;
  left: 163px;
  border-radius: 6px;
}

.img{
  height: 216px;
  align-self: center;
}

.round{
  align-self: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: transparent;
}

.productName{
  font-size: 14px;
  line-height: 16px;
  text-align: start;
  max-width: 174px;
  color: #221f1f;
}

.priceWrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price{
  font-size: 24px;
  color: #f84147;
}