.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.modalContentWrapper{
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 40px;
  position: fixed;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(255, 255, 255, 0.2) 15px 28px 25px -18px;
  color: #41403e;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 1rem;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  letter-spacing: 1.5px;
}

.modalClose{
  position: absolute;
  font-size: 20px;
  border: none;
  background-color: transparent;
  top: 2px;
  right: 20px;
  cursor: pointer;
}

.modalActions{
  display: flex;
gap: 20px;
}
