.buttonWrapper{
  width: fit-content;
  position: relative;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.counterBtn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #797878;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(30%, -35%);
  font-size: 12px;
  color: #fff;
}
