@import url('./assets/fonts/fonts.css');

*{
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Segoe UI Regular' , Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

