.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.modalContentWrapper{
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 40px;
  position: fixed;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(255, 255, 255, 0.2) 15px 28px 25px -18px;
  color: #41403e;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 1.5rem;
  transition: all 235ms ease-in-out;
  border-radius: 25px;
}

.modalClose{
  position: absolute;
  font-size: 20px;
  border: none;
  background-color: transparent;
  top: 2px;
  right: 20px;
  cursor: pointer;
}

.productImg{
  height: 250px;
}

.modalBtn{
  background-color: #00a046 !important;
  border-radius: 10px;
  height: 45px;
  color: white;
  font-size: 15px;
}
